<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinfengsa.mybatis.mapper.AuthorMapper">

    <!-- 嵌套查询 -->
    <select id="selectAuthor" parameterType="int" resultType="author">
        select author_id authorId, author_name authorName
        from author where author_id = #{authorId}
    </select>
</mapper>